body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "DM Sans","Figtree", "Poppins", Arial, Helvetica, sans-serif;
}
#quotes{

size:1rem;

}
.container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.gradient-background {
    background: linear-gradient(69deg,#ff0000,#ff7700,#E5C339,#1eff00,#002eff,#9a00ff,#002eff,#1eff00,#fffc00,#ff7700,#ff0000);
    background-size: 69420% 69420%;
    animation: gradient-animation 69s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .second {
    background: linear-gradient(310deg,#5bcefa,#f5a9b8,#5bcefa);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.left-content {
    text-align: center;
    width: 30%;
  /*  background-color: #f4f4f4; /* Light grey background */ 
    padding: 25px;
    box-sizing: border-box;
    border-right: 5px solid #ffffff; 
}
p, h1,h2 {

    color:white;
}
.right-content {
    width: 70%;
    padding: 25px;
    box-sizing: border-box;
  /*  background-color:#b37682; */
}

/* Optional styling for better appearance */
h1, h2 {
    margin-top: 0;
}

p {
    line-height: 1.6;
}
.divider {
    width: 5px;
    height:100%;
    background-color: #ffffff; /* Vertical divider color */
}